 /* div{
        display: block;
     } 
body{
        min-width: 1400px;
        height: 100%;
 }  */
#wrap{
    position: relative;
    margin: 0 auto;
    min-height: 100%;
}

#container{
    height: 100%;
    -webkit-text-size-adjust: none;

    width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
}
#container::after{
    content: "";
    display: block;
    clear: both;
}
#container.j_about{
    padding-bottom: 200px;
}
#wcontents{
    width: 100%;
    margin: 0 auto;

}
#mainb{
    max-height: 619px;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;

    display: block;

    font: 0.75em jost;
    color: #333;
    background: #fff;

}

#mainb html, body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img{
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

#mainb a{
    text-decoration: none;
    /* color: #181818; */
}
#mainb .j_bx-wrapper{
    position: relative;
  
}



 /* 슬라이드 화면 전체 */

#mainb > ul{
    display: block;
    list-style-type: disc;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
#mainb li{
    text-align: center;
}


/* 슬라이드 화면 w9  */


#mainb p{


    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#mainb{
    margin: auto;
}

#mainb .j_w9{
    
    background: #d0d2d6;

}
#mainb .j_back{
    display: block;
    overflow: hidden;

    margin: 0px;
}
#mainb .j_left{
    text-align: left;
}
#mainb .j_left a{
    margin-left: 50px;
}
#mainb .j_back.j_left{
    float: right;
}
#mainb .j_slider3 img{
    border: none;
    vertical-align: top;


}
#mainb .j_back img{
    width: 100%;
    height: 100%;
}


#mainb .j_back img{
    width: 900px;
    
    }


/* 슬라이드 화면 구현 - w8,w7,w6,w5  */

#mainb .j_slider3 li:not(.w9){
float: none;
list-style: none;
position: absolute;
width: auto;
z-index: 0;
overflow: hidden;  

}


 /* 슬라이드 효과주기!!  */

#mainb .j_slider3 img{
    padding: 0;
    margin: 0;
    list-style: none;

}

.j_slider3 li{
    padding: 0;
    margin: 0;

    position: absolute;
    transition-delay: 1s;
}

/* text  */

#mainb .j_box {
    width: 1250px;
    top: 80px;
    left: 50%;
    margin-left: -625px;
}
#mainb .j_box {
    position: absolute;
    z-index: 999;
}
#mainb .j_box{
    width: 900px;
    top: 30px;
    margin-left: -450px;
}
/* show now */
.j_buttonPro{
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    
    
    font-size: 12px;
    padding: 8px 11px 9px;
    color: #555;
    background: #fff;
    font-weight: bold;
    transition: background-color 0.3s cubic-bezier(0.55 , 0, 0.1, 1);
}

.j_buttonPro.j_large{
    padding: 15px 20px;
    font-size: 12px;
    letter-spacing: 1px;
}
a.j_buttonPro.j_transtb{
    background: none;
    color: #222;
    border: 1px solid #555;
}
a.j_buttonPro.j_transtb:hover{
    background-color: #222;
    color: #fff;
    

}
/*  text - title */

#mainb .j_box .j_title{
    font: 48px jost;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
    letter-spacing: 3px;
}
#mainb .j_box .j_title{
    font-size: 35px;
    margin-bottom: 10px;
}
/* text - subt */

#mainb .j_box .j_subt{
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 16px jost;
    font-weight: 600;
    padding-left: 1px;
    margin-bottom: 10px;
    display: block;
}

#mainb .j_box .j_subt{
   
    font-size: 14px;
    margin-bottom: 10px
}
/* desc */
#mainb .j_box .j_desc{
    font: 15px jost;
    padding-left: 1px;
    margin-bottom: 30px;
    line-height: 23px;
    display: block;
}
#mainb .j_box .j_desc{
    font-size: 12px; 
    margin-bottom: 30px;
    line-height: 25px;
}


/* text 공통*/
#mainb .j_tb a.j_subt
,#mainb .j_tb a.j_title
,#mainb .j_tb a.j_desc{
    color: #333;
}
        


/* 버튼 동그라미  */

.j_bx-wrapper .j_bx-pager{
    position: absolute;
    
    width: 100%;
}
.j_bx-wrapper .j_bx-pager{
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    margin-top: -30px;
    z-index: 9999;

   
}
.j_bx-wrapper .j_bx-pager .j_bx-pager-item{
    display: inline-block;
}
.j_bx-wrapper .j_bx-pager.j_bx-default-pager a{
    background:  #fff;
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    outline: 0;
    border-radius: 15px;
    border: 1px solid #ddd;
}
.j_bx-wrapper .j_bx-pager.j_bx-default-pager a:hover,
.j_bx-wrapper .j_bx-pager.j_bx-default-pager a.j_active{
    background: #555;
    border: 1px solid #555;
}


/* 버튼 좌/우 */

.j_bx-wrapper .j_bx-prev{
    left: 20px;
    background: url(image/mprev2.png) no-repeat;
}
.j_bx-wrapper .j_bx-controls-direction a{
    opacity: 0.1;
    transition: opacity 0.3s ease-in;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    outline: 0;
    width: 53px;
    height: 150px;
    text-indent: -9999px;
    z-index: 9999;
    opacity: 0.2;
    transition: opacity 1s;
}

.j_bx-wrapper .j_bx-next{
    right: 20px;
    background: url(image/mnext2.png) no-repeat;
    z-index: 9999;
}


